.title{
    text-align:left;
    margin-top: 10px;
    background-color: rgba(44, 62, 80, 1);
} 
*{
    margin: 0;
    padding: 0;
}
.head{
    background-color:rgba(44, 62, 80, 1);
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    
}
.p{
    
    margin-left: 373px;
    display: flex;
    gap: 10px;
    list-style: none;
    
  
}
.link{
    font-family: monospace;
    font-weight: 700;
    font-size: 18px;
    margin-left: 5px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.link2{
    font-size: 11px;
    font-family:monospace;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}



.main{
background-color:rgba(26, 188, 156, 1);
height: 485px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    height: fit-content;
    position: relative;
    top: 100px;
    font-family:"Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 56px;
    
}

.name{
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.photo{
    width: 130px;
    
}


.part{
    text-align: center;
    margin-top: 30px;
    font-family: monospace;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(44,62, 80);
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 730px;
    gap: 20px;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;

}

img {
    width: 205px;
    height: 160px;
}

.about{ 
width: 100%;
height: 230px;;
background-color: rgb(26, 188, 156);
color: #fff;
}

.title{
    text-transform:uppercase;
    text-align: center;
    position: relative;
    top: 20px;
    font-family:monospace;
    font-size: 30px;
   
    
}
.raw{
    display: flex ;
    flex-wrap: wrap;
    margin-top: 30px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: start;
    margin-left: 397px;
    margin-bottom: 20px;
}
.p1{
   width: 33.33%;
   font-family:monospace;
   margin-right: 25px;
    
}
.p2{
    width: 33.33%;
    font-family:monospace;
    font-weight: 300;
   
 }

button{
    width: 135px;
    height: 30px;
    background-color: rgb(26, 188, 156) ;
    font-size: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 20px;
    margin: auto;
    font-family: monospace;
    color: #fff;
}



.t-contact{
    margin-top: 20px;
    font-family: monospace;
    font-weight: 700;
    font-size: 31px;
    text-transform: uppercase;
    color: rgb(44,62, 80);
    text-align: center;
}
.form-group{
    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 397px;
    margin-right: 397px;
    justify-content: center;
    align-items: center;
    border:0px ;
    color:cadetblue;
    font-family: monospace;
}
input{
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 0px ;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: none;
   
}


.contact-section {
    padding: 60px 0;
}

h2 {
    color:rgb(44, 62, 80);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}



.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.contact-form .form-control {
border-style: hidden;
   
}

.btn-primary {
    display: block;
    width: 12%;
    height: 37px;
    background-color: #00a8a8;
    border: none;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 0;
    margin-top: 12px;
}


.footer{
    background-color: rgba(44, 62, 80, 1);
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: monospace;
    
}

.foot{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: monospace;

}
.foot1{
    width: 14%;

}
.foot2{
    width: 14%;
}
.foot3{
    width: 19%;
    margin-top: 20px;
}
h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
}
i{
    color: #fff;
    border-radius: 100%;
    border: #fff solid 1px;
    width: 10px;
    padding: 5px;
    height: 10px;
    font-size: 10px;
}
.a-foot3{
    text-decoration: none;
    color: rgb(26, 188, 156);
}

.Copyright{
    font-size: 12px;
    color: #fff;
    background-color: rgb(26, 37,47);
    text-align: center;
}
